{{#each candidates as |candidate| }}
  <div class="row align-center mb-5">
    <div class="vote-result flex-row col-md-6 justify-space-between">
      <h2><a href="/candidate/{{candidate.id}}">{{candidate.name}}</a></h2>
      <h3 class="votes">{{candidate.votes}}</h3>
      {{!-- {{#if logged_in}} --}}
      <button class="vote-button" type="submit" value="{{candidate.id}}">Vote</button>
      <button class="withdraw-button" data-id="{{candidate.id}}">Withdraw</button>
      {{!-- {{/if}} --}}
      {{!-- {{#if isCandidate}} --}}
       
      {{!-- {{/if}} --}}
    </div> 
  </div>
{{/each}}

<script src="/js/vote.js"></script>
<script src="/js/new_candidate_form.js"></script>