{{#if logged_in}}
    <h2 class="vote-header">You can only vote for one of the candidates below</h2>
    {{#each candidates as |candidate| }}
      <div class="row align-center mb-5">
        <div class="vote-result flex-row col-md-6 justify-space-between">
          <h3><a href="/candidate/{{candidate.id}}">{{candidate.name}}</a></h3>
          <h3 class="votes">{{candidate.votes}}</h3> 
          <button class="vote-button" type="submit" value="{{candidate.id}}">Vote</button>
        </div> 
      </div>
    {{/each}}
{{else}}
    <h2 class="vote-header">Candidates:</h2>
    {{#each candidates as |candidate| }}
      <div class="row align-center mb-5">
        <div class="vote-result flex-row col-md-6 justify-space-between">
          <h3><a href="/candidate/{{candidate.id}}">{{candidate.name}}</a></h3>
          <h3 class="votes">{{candidate.votes}}</h3>
        </div> 
      </div>
    {{/each}}
{{/if}}
<script src="/js/vote.js"></script>
<script src="/js/new_candidate_form.js"></script>