{{#each candidates as |candidate| }}
  <div class="row align-center mb-5">
    <div class="vote-result flex-row col-md-6 justify-space-between" id="candidate">
      <h2 class="can-name"><a href="/candidate/{{candidate.id}}">{{candidate.name}}</a></h2>
      <div id="votedata">
      {{!-- {{#if logged_in}} --}}
      <h2 class="votes" id="vote-element">{{candidate.votes}}</h2>
      <button class="vote-button" id="vote-element" type="submit" value="{{candidate.id}}">Vote</button>
      <button class="withdraw-button" id="vote-element" data-id="{{candidate.id}}">Withdraw</button>
      </div>
      {{!-- {{/if}} --}}
      {{!-- {{#if isCandidate}} --}}
      
      {{!-- {{/if}} --}}
    </div>  
  </div>
{{/each}}
<div>
  <canvas id="myChart"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const ctx = document.getElementById('myChart');
  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Sal Swift', 'Amiko Chen', 'Jordan Rodriguez', 'Blake Kim'],
      datasets: [{
        label: '# of Votes',
        data: [36, 21, 18, 10],
        borderWidth: 1
      }]
    },
    options: {
        indexAxis: 'y',
    }
  });
</script>
<script src="/js/vote.js"></script>
<script src="/js/new_candidate_form.js"></script>