<div class="homepage">
    <div>
      {{#if logged_in}}
        {{#if voted}}
          <h2 class="vote-header">You've already voted!</h2>
          {{#each candidates as |candidate| }}
              <div class="vote-result flex-row col-md-6 justify-space-between">
                <a href="/candidate/{{candidate.id}}">{{candidate.name}}</a>
              </div> 
          {{/each}}
        {{else}}
          <h2 class="vote-header">You can only vote for one of the candidates below</h2>
          {{#each candidates as |candidate| }}
              <div class="vote-result flex-row col-md-6 justify-space-between">
                <a href="/candidate/{{candidate.id}}">{{candidate.name}}</a>
                <button class="vote-button" type="submit" value="{{candidate.id}}">Vote</button>
              </div> 
          {{/each}}
        {{/if}}
      {{else}}
          <h2 class="vote-header">Candidates:</h2>
          {{#each candidates as |candidate| }}
              <div class="vote-result flex-row col-md-6 justify-space-between">
                <a href="/candidate/{{candidate.id}}">{{candidate.name}}</a>
              </div>
          {{/each}}
      {{/if}}
    </div>

      {{!--add the candidates data to a data attribute in canvas tag, so that client-side JavaScript file can retrieve the candidates data to generate the chart--}}
    <div class="chartCard flex-row">
      <div class="chartBox">
    <canvas id="vote-chart" data-candidates="{{json candidates}}"></canvas>
      </div>
    </div>

  </div>

<script src="/js/vote.js"></script> 


{{!--includes the Chart.js library --}}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js" integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/chart.js"></script>

