<div class="text-center">
  <h2>Candidate Profile</h2>
  <p><strong>Name: </strong>{{{name}}}</p>
  <p><strong>Email: </strong>{{email}}</p>
  <p><strong>Education: </strong>{{education}}</p>
  <p><strong>Work Experience: </strong>{{work_experience}}</p>
  <p><strong>Vision: </strong>{{vision}}</p>
</div>